.movieslist {
  display: grid;
  padding: 70px 70px 10px;
  justify-content: center;
  column-gap: 24px;
  row-gap: 37px;
  margin: 0;
  list-style: none;
  grid-template-columns: repeat(auto-fit, 364px);

  @media screen and (max-width: 930px) {
    padding: 70px 30px 30px;
    column-gap: 30px;
    row-gap: 30px;
    grid-template-columns: repeat(auto-fit, 339px);
  }

  @media screen and (max-width: 820px) {
    grid-template-columns: repeat(auto-fit, 250px);
    column-gap: 20px;
    row-gap: 20px;
  }

  @media screen and (max-width: 620px) {
    grid-template-columns: repeat(auto-fit, 240px);
    column-gap: 10px;
    row-gap: 10px;
  }

  @media screen and (max-width: 530px) {
    padding: 40px 10px 26px;
    column-gap: 0;
    row-gap: 14px;
    grid-template-columns: 1fr;
  }
}
