.aboutproject {
  background: #202020;
  padding: 110px 70px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 785px) {
    padding: 90px 50px;
  }

  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #ffffff;
    margin: 0;
    display: flex;
    flex-direction: column;
    grid-area: title;

    &:after {
      border: 0.5px solid #dadada;
      content: "";
      margin-top: 23px;
      opacity: 0.7;
    }
  }

  &__description {
    margin: 70px 0 110px;
    display: flex;
    column-gap: 40px;
    justify-content: space-between;

    @media screen and (max-width: 785px) {
      margin-bottom: 93px;
    }

    .steps {
      color: #ffffff;

      &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.04em;
        margin: 0 0 26px;
      }

      &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        margin: 0;

        @media screen and (max-width: 785px) {
          font-size: 12px;
          line-height: 150%;
        }
      }
    }
  }

  &__table {
    display: flex;
    flex-direction: column;
    margin: 0;
    row-gap: 14px;

    .table__programming {
      margin: 0;
      color: #8b8b8b;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 121%;
      text-align: center;

      @media screen and (max-width: 785px) {
        font-weight: 400;
        line-height: 17px;
        font-family: "Suisse Intl", "Inter", sans-serif;
      }
    }

    .table__text {
      margin: 0;
      background: #303030;
      padding: 9px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #ffffff;

      &_color_green {
        background: #3ddc84;
        color: #000000;
      }
    }

    .table__line {
      display: grid;
      grid-template-columns: 20% 80%;
    }

    .table__subtitles {
      display: grid;
      grid-template-columns: 20% 80%;
    }
  }
}
