.filtercheckbox {
  grid-area: short;
  justify-self: center;
  display: flex;
  column-gap: 12px;
  position: relative;
  width: 36px;
  height: 20px;

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 20px;

    &:before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%;
    }
  }

  &__checkbox {
    opacity: 0;
    width: 36px;
    height: 20px;

    &:focus + .filtercheckbox__slider {
      box-shadow: 0 0 1px #2196f3;
    }

    &:checked + .filtercheckbox__slider {
      background-color: #3ddc84;
    }

    &:checked + .filtercheckbox__slider:before {
      -webkit-transform: translateX(16px);
      -ms-transform: translateX(16px);
      transform: translateX(16px);
    }
  }
}
