.techs {
  background: #272727;
  padding: 100px 70px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 785px) {
    padding: 90px 50px;
  }

  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #ffffff;
    margin: 0;
    display: flex;
    flex-direction: column;
    grid-area: title;

    &:after {
      border: 0.5px solid #dadada;
      content: "";
      margin-top: 23px;
      opacity: 0.7;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__section-title {
    margin: 90px 0 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 116%;
    text-align: center;
    letter-spacing: -0.04em;
    color: #ffffff;

    @media screen and (max-width: 785px) {
      margin: 80px 0 22px;
    }
  }

  &__text {
    margin: 0 0 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    letter-spacing: -0.04em;
    color: #ffffff;
    max-width: 460px;

    @media screen and (max-width: 785px) {
      font-size: 12px;
      line-height: 150%;
      margin-bottom: 83px;
    }
  }

  &__technologies {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    column-gap: 10px;
  }

  &__technology {
    background: #303030;
    border-radius: 10px;
    width: 90px;
    padding: 21px 0;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.04em;
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;

    @media screen and (max-width: 785px) {
      width: 84px;
      font-size: 12px;
      line-height: 15px;
    }
  }
}
