.header {
  display: flex;
  justify-content: space-between;
  background: #073042;
  padding: 21px 70px;

  &_state_hidden {
    display: none;
  }

  &_type_movies {
    background: #202020;
    justify-content: space-between;
  }

  .buttons {
    display: flex;
    column-gap: 30px;
    align-items: center;

    &_type_movies {
      column-gap: 16px;
      margin-left: 70px;
    }

    &__login {
      background: #3DDC84;
      border-radius: 3px;
      padding: 8px 20px;
      border: none;
      cursor: pointer;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      text-decoration: none;
    }

    &__register {
      cursor: pointer;
      color: #FFFFFF;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      text-decoration: none;
    }

    &__movie {
      font-weight: 400;
      font-size: 13px;
      line-height: 138%;
      text-align: right;
      color: #FFFFFF;
      text-decoration: none;

      &.active {
        font-weight: 500;
      }
    }

  }

  .account {
    cursor: pointer;
    background-repeat: no-repeat;
    border: 2px solid rgba(170, 170, 170, 0.2);
    border-radius: 50px;
    background-color: transparent;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
    padding: 8px 12px;
    column-gap: 7px;
  }

}