.aboutme {
  background: #202020;
  padding: 110px 70px 0;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 785px) {
    padding: 90px 50px 0;
  }

  @media screen and (max-width: 337px) {
    padding: 70px 14px 0;
  }

  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #ffffff;
    margin: 0;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 337px) {
      font-size: 18px;
      line-height: 22px;
    }

    &:after {
      border: 0.5px solid #dadada;
      content: "";
      margin-top: 23px;
      opacity: 0.7;

      @media screen and (max-width: 337px) {
        margin-top: 28px;
      }
    }
  }

  &__content {
    margin: 66px 0 0 0;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;

    @media screen and (max-width: 550px) {
      margin-top: 60px;
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 550px) {
      margin-top: 40px;
    }
  }

  &__avatar {
    border-radius: 10px;
    width: 270px;
    object-fit: contain;

    @media screen and (max-width: 785px) {
      width: 255px;
    }

    @media screen and (max-width: 337px) {
      width: 100%;
    }
  }

  &__name {
    margin: 0 0 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 116%;
    letter-spacing: -0.04em;
    color: #ffffff;

    @media screen and (max-width: 785px) {
      margin-bottom: 16px;
      font-size: 40px;
      line-height: 100%;
    }

    @media screen and (max-width: 337px) {
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 20px;
    }
  }

  &__profession {
    margin: 0 0 26px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 111%;
    color: #ffffff;

    @media screen and (max-width: 785px) {
      font-size: 12px;
      line-height: 150%;
      margin-bottom: 20px;
    }

    @media screen and (max-width: 337px) {
      font-size: 11px;
      line-height: 16px;
      margin-bottom: 20px;
    }
  }

  &__biography {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #ffffff;
    max-width: 660px;
    margin: 0;

    @media screen and (max-width: 870px) {
      font-size: 12px;
      line-height: 150%;
      max-width: 364px;
    }

    @media screen and (max-width: 337px) {
      max-width: unset;
      font-size: 11px;
      line-height: 16px;
      margin-bottom: 40px;
    }
  }

  &__github {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    margin-top: auto;
    text-decoration: none;
  }
}
