@import url(./vendor/normalize.css);
@import url(./fonts/fonts.css);

body {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #202020;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}